<mat-toolbar color="primary" class="navbar">
  <a class="navbar-link"  routerLink="/home"  routerLinkActive="active-link">Home</a>
  <div>
    <a class="navbar-link"  routerLink="/agencies"  routerLinkActive="active-link">Agencies</a>
    <a class="navbar-link"  routerLink="/agent"  routerLinkActive="active-link">Agent</a>
    <a class="navbar-link" routerLink="/client"  routerLinkActive="active-link">Client</a>
    <a class="navbar-link"  routerLink="/admin"  routerLinkActive="active-link">Admin</a>
    <button mat-raised-button (click)="logOut()">Log Out</button>
  </div>
</mat-toolbar>

